In [4]:
from datetime import datetime

# date_string = "2021-07-13"

# Convert string to date object
# date_object = datetime.strptime("2023-05-11", "%Y-%m-%d").date()

# Convert date object to string in the desired format
# new_date_string = date_object.strftime("%d-%m-%Y")
new_date_string = datetime.strptime("2023-05-13", "%Y-%m-%d").date().strftime("%d-%m-%Y")

print(new_date_string)

13-05-2023

In [5]:
import sqlite3
import pandas as pd

# Create a SQL connection to our SQLite database
con = sqlite3.connect("project.sqlite")
cursor = con.cursor()

df = pd.read_sql_query("SELECT * from transactions", con)
df = cursor.execute("DELETE FROM transactions WHERE Id = 14;")
con.commit()
con.close()
df